{% load staticfiles %}
<head>
    <meta property="og:title" content="Pay Mick" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.paymick.com/" />
    <meta property="og:og:description" content="A place to pay mick" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="{% static 'mbeebs_watch.jpg' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <style>
        * {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>
        paymick.com
    </h1>
    <div>
      <a
        target="_blank"
        href="venmo://paycharge?txn=pay&recipients=MickBerber&amount=10">
        I want to pay mick 10 dollars
      </a>
    </div>
</body>