<head>
    <meta property="og:title" content="Pay Mick" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.paymick.com/" />
    <meta property="og:image" content="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-1/p320x320/101763826_10217165558919226_478861335648534528_n.jpg?_nc_cat=103&_nc_sid=dbb9e7&_nc_ohc=3m542nlR0XQAX8V-Aq6&_nc_ht=scontent-sjc3-1.xx&_nc_tp=6&oh=06de817674a388b70e482e5211758644&oe=5F0C9B90" />
    <meta property="og:og:description" content="A place to pay mick" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>
        paymick.com
    </h1>
    <div>
      <a
        target="_blank"
        href="venmo://paycharge?txn=pay&recipients=MickBerber&amount=10">
        I want to pay mick 10 dollars
      </a>
    </div>
</body>